body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}

.movie {
  cursor: pointer;
}

.movie img {
  width: 100%;
  border-radius: 10px;
}
