zbody { 
    margin: 0; 
    font-family: 'Segoe UI', sans-serif; 
    background: linear-gradient(135deg, #f0f2f5, #d9e0e7); /* Светлый градиент */
    height: 100vh; overflow: hidden; 
}

#menu { 
    position: absolute; top: 20px; width: 100%; text-align: center; z-index: 20; 
}

#menu button { 
    padding: 10px 20px; margin: 0 5px; cursor: pointer; 
    background: #007bff; color: white; border: none; border-radius: 20px; 
}

#quiz-box { 
    position: absolute; top: 100px; left: 50px; 
    background: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый */
    padding: 30px; border-radius: 20px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    z-index: 10; width: 350px;
}

.btn { 
    background: #e9ecef; border: 1px solid #dee2e6; 
    padding: 15px; margin-top: 10px; cursor: pointer; 
    transition: 0.3s; border-radius: 10px; 
}
.btn:hover { background: #007bff; color: white; }
